a:link {
  color: #8aadf4;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #c6a0f6;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #7dc484;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #eed49f;
  background-color: transparent;
  text-decoration: underline;
}

body {
    color: #cad3f5;
    text-align: center;
    background-color: #24273a
}
