a:link {
  color: #8aadf4;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #c6a0f6;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #7dc484;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #eed49f;
  background-color: transparent;
  text-decoration: underline;
}

body {
    color: #cad3f5;
    text-align: center;
    background-color: #24273a
}

/* default dark mode */
body {
  background-color: #111;
  color: #eee;
}

/* cracker mode (light mode) */
body.light-mode {
  background-color: #fff;
  color: #111;
}

/* button styling (optional) */
#crackerModeBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: 2px solid #666;
  cursor: pointer;
}

body.light-mode #crackerModeBtn {
  background: #ddd;
  color: #000;
  border-color: #aaa;
}
